@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .font-heading {
    font-family: 'Montserrat', sans-serif;
  }

  .border-border {
    border-color: hsl(var(--border));
  }

  .bg-background {
    background-color: hsl(var(--background));
  }

  .text-foreground {
    color: hsl(var(--foreground));
  }
}

.hide-native-password-toggle::-ms-reveal,
.hide-native-password-toggle::-ms-clear {
  display: none;
}

.hide-native-password-toggle::-webkit-credentials-auto-fill-button,
.hide-native-password-toggle::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}